[Desktop Entry]
Name=vox-wm
GenericName=Window Manager
Comment=X Server Event Handler (XEH)
Exec=/usr/loca/bin/vox-wm
TryExec=/usr/loca/bin/vox-wm
Terminal=true
Type=Application
Categories=
NoDisplay=true
Hidden=true
