/* Default table styling (light theme) */
/*
table 
{
    border-color:               var(--md-primary-fg-color);
    border-style:               inset;
    border-collapse:            collapse;

}

table th 
{
    background-color: var(--md-primary-fg-color);

    font-weight: bold;
}
*/


.md-typeset td:nth-child(2) {
  color: #91a4b7; /* Muted grayish-blue */
  text-shadow: 0 0 5px rgba(145, 164, 183, 0.4), 
               0 0 10px rgba(145, 164, 183, 0.2);
}

.md-typeset td:nth-child(1) {
  color: #91a4b7; /* Muted grayish-blue */
  text-shadow: 0 0 5px rgba(145, 164, 183, 0.4), 
               0 0 10px rgba(145, 164, 183, 0.2);
}
